<%- include('./partials/head') %>

<nav>
    <%- include('./partials/navigation') %>
</nav>
<main>
    <div class="playlists">
        <ion-icon class="playlists__menu" name="menu-outline"></ion-icon>
        <div class="playlists__container">
            <h1 class="playlists__heading"></h1>
            <div class="playlists__list">
                <ul>
                    <a href="squadA">
                        <li class="playlists__item"><img src="/assets/favicon.jpeg" alt="">Squad A</li>
                    </a>
                    <a href="squadB">
                        <li class="playlists__item"><img src="/assets/favicon.jpeg" alt="">Squad B</li>
                    </a>
                    <a href="squatC">
                        <li class="playlists__item"><img src="/assets/favicon.jpeg" alt="">Squat C</li>
                    </a>
                    <a href="tribe">
                        <li class="playlists__item"><img src="/assets/favicon.jpeg" alt="">Alle studenten</li>
                    </a>
                    <a href="liked">
                        <li class="playlists__item"><img src="/assets/liked-student.png" alt="">Gelikete studenten</li>
                    </a>
                    <a href="rest">
                        <li class="playlists__item"><img src="/assets/favicon.jpeg" alt="">Overige studenten</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="students">
            <div class="students__menu">
                <div>Naam</div>
                <div>Nickname</div>
                <div>Slug</div>
            </div>
            <% members.forEach(member => { %>
            <a href="/members?member=<%= member.id %>">
                <div class="students__list">
                    <div><% if (member.avatar) { %><img src="<%= member.avatar %>" alt=""><% }else{ %><img
                            src="/assets/favicon.jpeg" alt="Logo van squad A"><% } %><%= member.name %> <%= member.prefix %>
                        <%= member.surname %></div>
                    <div><% if (member.nickname) { %><%= member.nickname %><% }else{ %><%= member.name %><% } %></div>
                    <div>
                       <%= member.slug %>
                    </div>
                </div>
            </a>
            <% }) %>
        </div>
    </div>
</main>

<!-- Link naar JS -->
<script src="./scripts/script.js"></script>

<%- include('./partials/foot') %>