<%- include('./partials/head') %>

<main class="main-member">
  <div class="members" style="background-color: #033666de;">
  <!-- <div class="members" style="background-color: <%= member.colour.hex %>40;"> -->
    <img class="member__image" src="<%= member.avatar %>" alt="Avatar van <%= member.name %>">
    <div class="member__info">
      <div class="member__name">
        <h1>
          <span class="member__fname"><%= member.name %> <%= member.surname %></span>
          <span class="member__nickname"><%= member.nickname %></span>
        </h1>
        <ion-icon name="heart-outline"></ion-icon>
      </div>   
    </div>
  </div>
</main>

<script src="./scripts/script.js"></script>

<%- include('./partials/foot') %>
