<%- include('./partials/head') %>
<nav>
    <%- include('./partials/navigation') %>
</nav>
<main>
    <div class="detail">
        <ion-icon class="playlists__menu" name="menu-outline"></ion-icon>
        <section class="detail__header">
            <img class="detail__logo" src="/assets/favicon.jpeg" alt="Logo - Squad A">
            <div class="detail__squad">
                <span class="squad__usp">Playlist</span>
                <h1 class="squad__title">Squad B</h1>
                <p class="squad__description">Niet veel te zien hier, kan beter naar Squat C!</p>
                <p class="squad__amount"><img src="/assets/favicon.jpeg" alt="Logo van squad A">50 Studenten in deze
                    squad!</p>
            </div>
        </section>
        <div class="students">
            <table>
                <tbody>
                    <tr>
                        <th>Student</th>
                        <th>Nickname</th>
                        <th>Squad</th>
                        <th>Website</th>
                        <!-- <th>
                            <ion-icon name="time-outline"></ion-icon>
                        </th> -->
                    </tr>
                    <% squad.members.forEach(member => { %>
                    <tr>
                        <td> <% if (member.avatar) { %><img src="<%= member.avatar %>" alt=""> <% }else{ %><img
                                src="/assets/favicon.jpeg" alt="Logo van squad A"><% } %><%= member.name %></td>
                        <td><% if (member.nickname) { %><%= member.nickname %><% }else{ %><%= member.name %><% } %></td>
                        <td><%= squad.name %></td>
                        <td><a href="<%= member.website %>">
                                <ion-icon name="logo-github"></ion-icon>
                            </a></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</main>

<!-- Link naar JS -->
<script src="./scripts/script.js"></script>

<%- include('./partials/foot') %>