<%- include('./partials/head') %>
<nav>
    <%- include('./partials/navigation') %>
</nav>
<main>
    <div class="detail">
        <ion-icon class="playlists__menu" name="menu-outline"></ion-icon>
        <section class="detail__header">
            <img class="detail__logo" src="/assets/favicon.jpeg" alt="Logo - Squad A">
            <div class="detail__squad">
                <span class="squad__usp">Playlist</span>
                <h1 class="squad__title">Squad A</h1>
                <p class="squad__description">Niet veel te zien hier, kan beter naar Squat C!</p>
                <p class="squad__amount"><img src="/assets/favicon.jpeg" alt="Logo van squad A">50 Studenten in deze
                    squad!</p>
            </div>
        </section>
        <div class="students">
            <div class="students__menu">
                <div>Student</div>
                <div>Nickname</div>
                <div>Squad</div>
            </div>
            <% squad.members.forEach(member => { %>
            <a href="/members?member=<%= member.id %>">
                <div class="students__list">
                    <div><% if (member.avatar) { %><img src="<%= member.avatar %>" alt=""><% }else{ %><img
                            src="/assets/favicon.jpeg" alt="Logo van squad A"><% } %><%= member.name %>
                        <%= member.surname %></div>
                    <div><% if (member.nickname) { %><%= member.nickname %><% }else{ %><%= member.name %><% } %></div>
                    <div>
                       <%= squad.name %>
                    </div>
                </div>
            </a>
            <% }) %>
        </div>
    </div>
</main>

<!-- Link naar JS -->
<script src="./scripts/script.js"></script>

<%- include('./partials/foot') %>